.idea/*
*.iml
bin/*
out/*
obj/*
out
bin
obj
.idea
.vs
cmake*
target/
.vscode
.DS_Store
.vscode/*
__pycache__/

Hello/.src/CppHelloPrime.cpp
Hello/.src/CsHelloPrime.cs
Hello/.src/GoHelloPrime.go
Hello/.src/JHelloPrime.java
Hello/.src/RsHelloPrime.rs
